/* fixed aspect ratio */
[style*="--aspect-ratio"] {
  position: relative;
}
[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
[style*="--aspect-ratio"] > * {
  position: absolute;
  top: 0;
  bottom: 0;
}

/* dat.gui.js */
.dat-gui {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.dg {
  padding: 0; /* overwrite padding of .main */
}
